@model KnifeCompany.Models.ViewModels.OrderHeaderVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Order";

}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.OrderHeader.Id != 0)
        {
            //edit
            title = "Edit Order";
            <input type="hidden" asp-for="OrderHeader.Id" />
            <input type="hidden" asp-for="OrderHeader.Name" />
            <input type="hidden" asp-for="OrderHeader.PhoneNumber" />
            <input type="hidden" asp-for="OrderHeader.State" />
            <input type="hidden" asp-for="OrderHeader.City" />
            <input type="hidden" asp-for="OrderHeader.StreetAddress" />
            <input type="hidden" asp-for="OrderHeader.PostalCode" />
        }


        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrderHeader.ApplicationId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrderHeader.ApplicationId" class="form-control" readonly />
                    <span asp-validation-for="OrderHeader.ApplicationId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrderHeader.OrderDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrderHeader.OrderDate" class="form-control" readonly />
                    <span asp-validation-for="OrderHeader.OrderDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="OrderHeader.OrderTotal"></label>
                </div>
                <div class="col-8">
                    <input asp-for="OrderHeader.OrderTotal" class="form-control" readonly />
                    <span asp-validation-for="OrderHeader.OrderTotal" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label>Order Status</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.OrderHeader.OrderStatus, Model.OrderStatusList, "- Select a Order status",
                   new { @class = "form-control" })
                    <span asp-validation-for="OrderHeader.OrderStatus" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label>PaymentStatus</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(x => x.OrderHeader.PaymentStatus, Model.PaymentStatusList, "- Select a Payment status",
                   new { @class = "form-control" })
                    <span asp-validation-for="OrderHeader.PaymentStatus" class="text-danger"></span>
                </div>
            </div>


        </div>


        <div class="form-group row">
            <div class="col-8 offset-4">
                @if (Model.OrderHeader.Id != 0)
                {
                    <partial name="_EditAndBackToListButton" model="Model.OrderHeader.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackToListButton" />

                }
            </div>
        </div>
    </div>
    </div>
</form>

<div class="col-12 col-lg-5 offset-lg-1">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Order Summary</span>
    </h4>
    <ul class="list-group mb-3">
        @foreach (var order in Model.OrderDetailsList)
        {
            <li class="list-group-item d-flex justify-content-between">
                <div class="row container">
                    <div class="col-8">
                        <h6 class="my-0">@order.Product.Name</h6>
                        <br />
                        <img src="@order.Product.Picture" class="card-img-top rounded" style="width:50%;height:80%;" />
                        <br />
                        <br />
                        <br />

                    </div>
                    <div class="col-4">
                        @{ 
                            var total = order.Price * order.Count;
                        }
                        <h5 class="text-success">@order.Price.ToString("c") * @order.Count = @total.ToString("c")</h5>
                    </div>
                </div>
            </li>
        }


        <li class="list-group-item bg-info">
            <div class="row container">
                <div class="col-6">
                    <h5 class="text-white">TOTAL : @Model.OrderHeader.OrderTotal.ToString("c")</h5>
                </div>

            </div>
        </li>
    </ul>
</div>




    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
